@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Aldrich", serif;
}
body{
    background-color: #484d57;
}
img{
    width: 100%;
}
#main{
    padding: 50px 10px;
}
#main .nav {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#main .nav button{
    width: 50%;
    padding: 10px ;
    background-color: transparent;
    font-weight: 900;
    font-size: 20px;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
}
#main .nav button.active{
    background-color: rgba(255, 255, 255, 0.8);
}
#main #cart {
    display: none;
}
#main #products .allproducts{
    display: flex;
    column-gap: 2%;
    margin-top: 30px;
}
#main #products .allproducts .item{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
#main #products .allproducts .item .productimg{
    height: 200px;
    background: rgba(209, 205, 205, 0.2);
    display: grid;
    place-items: center;
    font-size: 30px;
}
#main #products .allproducts .item .txt{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
}
#main #products .allproducts .item .name{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}
#main #products .allproducts .item .price , #main #products .allproducts .item .available{
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    
}
#main #products .allproducts .quentity{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#main #products .allproducts .quentity .counter{
    display: flex;
    align-items: center;
    gap: 10px;
}
#main #products .allproducts .quentity .counter .count , #main #products .allproducts .quentity  h3{
    color: rgba(255, 255, 255, 0.8);
}
#main #products .allproducts .quentity .counter button{
    font-size: 20px;
    width: 50px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#main #products .allproducts .addcart{
    font-weight: 600;
    letter-spacing: 2px;
    padding: 5px;
    cursor: pointer;
    background-color: #9AA6B2;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.allcarts{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.allcarts .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
.allcarts .item button{
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: red;
    padding: 5px;
    cursor: pointer;
}